html, body {
  overflow-x: hidden;

  background-color: var(--primary-background-color);
  color: var(--primary-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Alexandria", Tahoma, sans-serif;
}

#root {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;


  --primary-background-color: #f3f3f3;
  --primary-color: #333333;

  --menu-background-color: #D8D8D8;

  --hover-background-color: #F6F6F6;
}

.default-sidebar-margin {
  margin-left:  calc(6vh + 20px);
  margin-right: calc(6vh + 20px);
}

.default-margin {
  margin: 0 10px 0 10px;
}